<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!--/*
  enabled=true  -> SecurityConfig có cấu hình .oauth2Login(...) cho Google, link trỏ /oauth2/authorization/google
  enabled=false -> backend hiện chưa cấu hình OAuth2 (xem SecurityConfig.java), nút hiển thị nhưng ở trạng thái disabled
*/-->
    <div th:fragment="socialLoginBtn(enabled)">
        <a th:if="${enabled}" class="btn-social-google" th:href="@{/oauth2/authorization/google}"
            aria-label="Đăng nhập bằng tài khoản Google">
            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                focusable="false">
                <path
                    d="M19.6 10.23c0-.68-.06-1.33-.17-1.96H10v3.71h5.38a4.6 4.6 0 0 1-2 3.02v2.5h3.23c1.89-1.74 2.98-4.3 2.98-7.27z"
                    fill="#4285F4" />
                <path
                    d="M10 20c2.7 0 4.96-.9 6.62-2.43l-3.23-2.5c-.9.6-2.04.96-3.39.96-2.61 0-4.82-1.76-5.61-4.13H1.06v2.59A10 10 0 0 0 10 20z"
                    fill="#34A853" />
                <path
                    d="M4.39 11.9A5.99 5.99 0 0 1 4.07 10c0-.66.11-1.3.32-1.9V5.51H1.06A10 10 0 0 0 0 10c0 1.61.39 3.14 1.06 4.49l3.33-2.59z"
                    fill="#FBBC05" />
                <path
                    d="M10 3.97c1.47 0 2.79.5 3.82 1.49l2.87-2.87C14.95.99 12.7 0 10 0 6.09 0 2.7 2.24 1.06 5.51l3.33 2.59C5.18 5.73 7.39 3.97 10 3.97z"
                    fill="#EA4335" />
            </svg>
            <span>Tiếp tục với Google</span>
        </a>
        <button th:unless="${enabled}" type="button" class="btn-social-google is-disabled" disabled="disabled"
            title="Đăng nhập Google chưa khả dụng" aria-label="Đăng nhập bằng Google (chưa khả dụng)">
            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                focusable="false">
                <path
                    d="M19.6 10.23c0-.68-.06-1.33-.17-1.96H10v3.71h5.38a4.6 4.6 0 0 1-2 3.02v2.5h3.23c1.89-1.74 2.98-4.3 2.98-7.27z"
                    fill="#4285F4" />
                <path
                    d="M10 20c2.7 0 4.96-.9 6.62-2.43l-3.23-2.5c-.9.6-2.04.96-3.39.96-2.61 0-4.82-1.76-5.61-4.13H1.06v2.59A10 10 0 0 0 10 20z"
                    fill="#34A853" />
                <path
                    d="M4.39 11.9A5.99 5.99 0 0 1 4.07 10c0-.66.11-1.3.32-1.9V5.51H1.06A10 10 0 0 0 0 10c0 1.61.39 3.14 1.06 4.49l3.33-2.59z"
                    fill="#FBBC05" />
                <path
                    d="M10 3.97c1.47 0 2.79.5 3.82 1.49l2.87-2.87C14.95.99 12.7 0 10 0 6.09 0 2.7 2.24 1.06 5.51l3.33 2.59C5.18 5.73 7.39 3.97 10 3.97z"
                    fill="#EA4335" />
            </svg>
            <span>Tiếp tục với Google</span>
        </button>
    </div>
</body>

</html>
